body{
	margin: 0;
	padding: 0;
}

.container{
	    background-color: seagreen;
    width: 1200px;
    
    margin: 0 auto;
}

.menu{    /*height: 100px;
    width: 1200px;*/
    background-color: #0b6b35; 
    overflow: hidden;
}


ul{    margin: 0;
    padding: 0;}
li{
	    list-style: none;
    float: left;
}
a{  text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    display: block;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    width:100%;
    max-height: 100%;
    height: 100%;
}
p{
    font-size: 30px;
    text-align: center;
}
a:hover{
    background: aliceblue;
    color: #0b6b35; 
}

.main-content{
    width: 100%;
    height: 400px;
}
	.left{
        width: 70%;
        height:400px;
        background: red;
        float: left;
    }
		.one{
            width: 70%;
            height: 133.333333px;
            float: left;
            
        }
		.two{width: 30%;
            height: 133.3333333px;
            float: left;
        }
		.three{
            width: 33.33%;
            height: 133.3333333px;
            float: left;
        }
	.right{
        width: 30%;
        height:400px;
        background: yellow;
        float: left;
    }
		.four{width: 100%;
            height: 200px;
          float: left;
        }
.footer{
    width: 100%;
    height:50px;
}
p{
    text-align: center;
    font-size: 10px;
}
.input[type=text] {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}